<div fxLayout="row wrap" fxLayoutAlign="start start">
  <div fxLayout="row wrap" fxFlex="100 ">
    <mat-form-field fxFlex="100 ">
      <input matInput placeholder="vid" required name="auth_vid" [(ngModel)]="auth.vid" #auth_vid="ngModel">
      <mat-hint>
        <form-messages [control]="auth_vid.control"> </form-messages>
      </mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex="100 ">
      <input matInput placeholder="email or mobile" required name="auth_userid" [(ngModel)]="auth.userid" #auth_userid="ngModel">
      <mat-hint>
        <form-messages [control]="auth_userid.control"> </form-messages>
      </mat-hint>
    </mat-form-field>

  </div>
</div>