<mat-card fxLayout="row" fxLayoutAlign="space-between center" style="background-color:#D0D8DF;height:56px;font-weight:bold;font-size:14px;text-transform:uppercase">
        <mat-list-item fxFlex="60">
          <span>Name</span>
        </mat-list-item>
        <mat-list-item fxFlex="20">
          <span>Priority</span>
        </mat-list-item>
        <mat-list-item fxFlex="20">
          <span>Active</span>
        </mat-list-item>
      </mat-card>
      <ng-template ngFor let-item [ngForOf]="inputData" let-last=last let-index=index >
            <form #myForm="ngForm" novalidate autocomplete='off' [style.backgroundColor]="index%2? '#fff' : '#f1f5f9'">

            <mat-list-item fxFlex="60">
                <mat-form-field fxFlex="90">
                  <input required matInput [(ngModel)]="item.name"  [ngModelOptions]="{standalone: true}" >
               </mat-form-field>
            </mat-list-item>
            <mat-list-item fxFlex="20">
              <mat-form-field fxFlex="90">
                <input type="number"  maxlength="3" required matInput [(ngModel)]="item.priority"  [ngModelOptions]="{standalone: true}">
             </mat-form-field>
          </mat-list-item>
            <!-- <mat-list-item fxFlex="35">{{item.priority}}</mat-list-item> -->
            <mat-list-item fxFlex="20"  fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox [(ngModel)]="item.active" [ngModelOptions]="{standalone: true}"></mat-checkbox>
            </mat-list-item>
           </form>

      </ng-template>
      