<aside style="height: 100%;">

  <main fxFlex="100" fxFlex.xs="100 " fxFlex.sm="100 " fxFlex.mat="100 " fxFlex.lg="100 " fxLayoutAlign="center center ">
    <mat-card style=" max-width: 325px;">
      <mat-card-header>
        <mat-card-title fxLayout="row" fxLayoutAlign="center center ">
          <mat-icon>person</mat-icon>
          <h1 class="margin-half-lr">Login</h1>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form #myForm="ngForm" novalidate autocomplete='off'>
          <app-login [auth]="auth"></app-login>
        </form>
      </mat-card-content>

      <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center" style="widows: 100%" class="margin-half">
        <div fxFlex="50">
          <a class="padding" (click)="forgotPassword()">Forgot Password?</a>
        </div>
        <div fxFlex="50" style="text-align: right">
          <button mat-raised-button [disabled]="myForm.invalid" (click)="signIn()" color="accent">Sign In Now</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </main>
</aside>