<aside class="alternative">

  <head>
    <mat-toolbar>
      <span> Profile </span>
      <span class="mat-spacer"></span>
      <button mat-raised-button color="primary" (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="addFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </mat-toolbar>

  </head>
  <main class="gap">

    <app-profile-table [inputData]="dataList"> </app-profile-table>

  </main>
</aside>

<mat-sidenav id="sidenav1" position="end" mode="over " [opened]="showNav1">
  <app-profile-filter [(inputData)]="filterInput" (outputEmitter)="filterClose($event)"></app-profile-filter>
</mat-sidenav>