/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-weight: 300 !important;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  min-width: 350px;
}

@import "styles/md";
@import "styles/custom";
@import "styles/table";
