/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-weight: 300 !important;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  min-width: 350px;
  background: #efefef;
}
.bg-img {
  /* Location of the image */
  background-image: url(assets/img/bg.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
       on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
       while the background image is loading */
  background-color: #464646;
  height: 100%;
}

@import "styles/md";
@import "styles/custom";
